﻿<%@ Page Language="C#" Async="true" AutoEventWireup="true" CodeBehind="viabilidad.aspx.cs" Inherits="ClienteColegioNET_FireBase.test" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <asp:GridView ID="gridList" runat="server">

        </asp:GridView>
    </form>
</body>
</html>
